body {
	color: #5a5b65;
	font-size: 14px;
	line-height: 18px;
	font-family: arial,helvetica,sans-serif;
	width:585px;
}
#cont_buscador
{
    /*border-radius: 5px;
    background-color: rgb(150, 218, 255);*/
    margin-bottom: -11px;
    padding: 10px;
    /*padding-left: 22px;*/
}   
#titulo 
{
    color: rgb(0, 125, 194);
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
}   
#copete
{
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    font-style: italic;
    color: rgb(51, 145, 197);
    margin-bottom: 5px;
}
#txt_buscar
{
    display: inline-block;
    margin-right: 10px;
    /*margin-left: 265px;*/
}   
input::-ms-clear{
	display: none;
}
#btn_buscar { 
	border: 1px solid #dedede;
	border-radius: 3px;
	color: rgb(55, 156, 211);
	display: inline-block;
	padding: 2px 11px;
	text-decoration: none;
}
#btn_buscar {
	background: #f5f5f5;
	border-color: #dedede #d8d8d8 #d3d3d3;
	box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
	color: #555;
	text-shadow: 0 1px 0 #fff;
	background: -moz-linear-gradient(top,  #f9f9f9, #f0f0f0);
	background: -webkit-linear-gradient(top,  #f9f9f9, #f0f0f0);
	background: o-linear-gradient(top,  #f9f9f9, #f0f0f0);
	background: ms-linear-gradient(top,  #f9f9f9, #f0f0f0);
	background: linear-gradient(top,  #f9f9f9, #f0f0f0);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f0f0f0');
}
#plantillas
{
    display:none;
}
#panel_sin_resultados
{
    padding: 10px;
    color: red;
}
#panel_encontrados
{
    /*border-radius: 5px;
    background-color: rgb(150, 218, 255);
    margin-top: 10px;*/
    padding: 10px;
    /*border-top: dotted white 2px;*/
}
#panel_encontrados #lbl_apellido
{
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}
#panel_encontrados #lbl_nombre
{
    display: inline-block;
    font-size: 15px;
}
#panel_encontrados #lbl_tipo_doc
{
    display: inline-block;
    margin-left: 10px;  
    font-size: 15px;
}
#panel_encontrados #lbl_nro_doc
{
    display: inline-block;
    font-size: 15px;
}
#panel_encontrados #panel_puestos
{
    background-color: rgb(219, 219, 219);
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
}
#cont_actas
{
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
}
.vista_puesto
{
    margin-bottom:5px;
}
.vista_puesto #lbl_nombre_puesto
{
    font-weight: bold;
}
.vista_acta
{
    margin-bottom: 10px;
}
.vista_acta #lbl_estado
{
    display: inline-block;
    width: 20%;
    font-weight: bold;
}
.vista_acta #lbl_observacion
{
    display: inline-block;
    width: 70%;
    vertical-align: top;
}
.vista_acta img{
    display: inline-block;
    height: 20px;
    margin-bottom: -5px;
    cursor: pointer;
}