<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="Sql" connectionString="Data Source=10.80.5.5;Initial Catalog=DB_RRHH;Integrated Security=True;Connect Timeout=300" providerName="System.Data.SqlClient" />
    <!--<add name="Sql" connectionString="Data Source=10.80.5.5;Initial Catalog=DB_RRHH;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  
  
</configuration>